In [ ]:
#list_comprehenion
x = [i for i in range(50) if i%2==0]
print(x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
dict = {1:"name",2:"vehicle",3:"machine"}
for key,value in dict.items():
  print(key,value)

1 name
2 vehicle
3 machine

In [ ]:
a = [0,1,2,3]
b=["a","b","c","d"]

In [ ]:
x = {i:j for (i,j) in zip(a,b)}
print(x)

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}

In [4]:
import pandas as pd

In [ ]:
df = {"name":["ankit","ram","sam","hari"],"age":[10,11,12,13],'Stream': ['Math', 'Commerce', 'Arts', 'Biology'],'Percentage': [88, 92, 95, 70]}

In [ ]:
print(df)

{'name': ['ankit', 'ram', 'sam', 'hari'], 'age': [10, 11, 12, 13], 'Stream': ['Math', 'Commerce', 'Arts', 'Biology'], 'Percentage': [88, 92, 95, 70]}

In [ ]:
df = pd.DataFrame(df)

In [ ]:
print(df)

{'name': ['ankit', 'ram', 'sam', 'hari'], 'age': [10, 11, 12, 13], 'Stream': ['Math', 'Commerce', 'Arts', 'Biology'], 'Percentage': [88, 92, 95, 70]}

In [ ]:
for i in df.index:
  print(df["name"][i],df["age"][i])

ankit 10
ram 11
sam 12
hari 13

In [ ]:
#using loc function in dataframe
df.head(2)

    name  age    Stream  Percentage
0  ankit   10      Math          88
1    ram   11  Commerce          92

In [ ]:
for i in range(len(df)):
  print(df.loc[i,"name"],df.loc[i,"Percentage"])

ankit 88
ram 92
sam 95
hari 70

In [ ]:
for i in range(len(df)):
  print(df.iloc[i,0],df.iloc[i,-1])

ankit 88
ram 92
sam 95
hari 70

In [ ]:
#Using iterrows() method of the Dataframe
for index,row in df.iterrows():
  print(row["name"],row["Stream"])

ankit Math
ram Commerce
sam Arts
hari Biology

In [ ]:
#Using apply() method of the Dataframe
print(df.apply(lambda row: row["name"] + " " + str(row["Percentage"]), axis = 1))

In [ ]:
for i,j in df.iterrows():
  print(i,j)
  print()

0 name          ankit
age              10
Stream         Math
Percentage       88
Name: 0, dtype: object

1 name               ram
age                 11
Stream        Commerce
Percentage          92
Name: 1, dtype: object

2 name           sam
age             12
Stream        Arts
Percentage      95
Name: 2, dtype: object

3 name             hari
age                13
Stream        Biology
Percentage         70
Name: 3, dtype: object

In [ ]:
# using iteritems() function to retrieve rows
for key,value in df.iteritems():
  print(key,value)
  print()

name 0    ankit
1      ram
2      sam
3     hari
Name: name, dtype: object

age 0    10
1    11
2    12
3    13
Name: age, dtype: int64

Stream 0        Math
1    Commerce
2        Arts
3     Biology
Name: Stream, dtype: object

Percentage 0    88
1    92
2    95
3    70
Name: Percentage, dtype: int64

In [ ]:
# using a itertuples()
for i in df.itertuples():
  print(i)

Pandas(Index=0, name='ankit', age=10, Stream='Math', Percentage=88)
Pandas(Index=1, name='ram', age=11, Stream='Commerce', Percentage=92)
Pandas(Index=2, name='sam', age=12, Stream='Arts', Percentage=95)
Pandas(Index=3, name='hari', age=13, Stream='Biology', Percentage=70)

In [ ]:
# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
   print(df[i][3])

hari
13
Biology
70

In [ ]:
df.head(4)

In [162]:
#Creating a column using for loop in Pandas Dataframe
data = {"first_name":['Ram', 'Mohan', 'Tina', 'Jeetu', 'Meera'],
        "last_name":['Kumar', 'Sharma', 'Ali', 'Gandhi', 'Kumari'],
        "marks":[12, 52, 36, 85, 23]}

In [163]:
df = pd.DataFrame(data)

In [164]:
df["result"]= ['Fail','Pass','Pass','Pass','Fail']

In [165]:
df.index = [1,2,3,4,5]

In [ ]:
#deleting columns in permanent
df.drop(columns="resull",inplace=True)

In [168]:
# Generate result using pandas
result = []
for i in df["marks"]:
  if i>=33:
    result.append("pass")
  elif i<0 and i>100:
    result.append("invalid")
  else:
    result.append("fail")

df["Result"]= result

In [169]:
df.head(2)

  first_name last_name  marks result Result
1        Ram     Kumar     12   Fail   fail
2      Mohan    Sharma     52   Pass   pass

In [170]:
#using list comprehension to create new column
df["Results"]=["pass" if i>=32 else "fail" for i in df["marks"]]

In [171]:
from datetime import date

In [172]:
#find the toal days of years 
def no_of_days(date1,date2):
  return(date2-date1).days

date1 = date(2018,5,21)
date2 = date(2022,5,22)
print(no_of_days(date1,date2),"days")

1462 days

In [173]:
df["date"]= ['11/8/2011', '04/23/2008', '10/2/2019','11/21/2022','04/08/2020']

In [16]:
df.head(3)

  first_name last_name  marks result Result Results        date
1        Ram     Kumar     12   Fail   fail    fail   11/8/2011
2      Mohan    Sharma     52   Pass   pass    pass  04/23/2008
3       Tina       Ali     36   Pass   pass    pass   10/2/2019

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  5 non-null      object
 1   last_name   5 non-null      object
 2   marks       5 non-null      int64
 3   result      5 non-null      object
 4   Result      5 non-null      object
 5   Results     5 non-null      object
 6   date        5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 320.0+ bytes

In [17]:
#coverting object date to date_time
df["date"]=pd.to_datetime(df["date"])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  5 non-null      object
 1   last_name   5 non-null      object
 2   marks       5 non-null      int64
 3   result      5 non-null      object
 4   Result      5 non-null      object
 5   Results     5 non-null      object
 6   date        5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 320.0+ bytes

In [ ]:
df.head(2)

  first_name last_name  marks result Result Results       date
1        Ram     Kumar     12   Fail   fail    fail 2011-11-08
2      Mohan    Sharma     52   Pass   pass    pass 2008-04-23

In [19]:
df["dates"] =[200512,200125,160623,191030,160428]

In [20]:
#changing date
df["dates"]=pd.to_datetime(df["dates"],format='%y%m%d')

In [21]:
df.head(2)

  first_name last_name  marks result Result Results       date      dates
1        Ram     Kumar     12   Fail   fail    fail 2011-11-08 2020-05-12
2      Mohan    Sharma     52   Pass   pass    pass 2008-04-23 2020-01-25

In [174]:
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna',"bihar"]

In [175]:
#adding column address
df["address"]= address

In [24]:
df.head(3)

,first_name,last_name,marks,result,Result,Results,date,dates,address
1,Ram,Kumar,12,Fail,fail,fail,2011-11-08,2020-05-12,Delhi
2,Mohan,Sharma,52,Pass,pass,pass,2008-04-23,2020-01-25,Bangalore
3,Tina,Ali,36,Pass,pass,pass,2019-10-02,2016-06-23,Chennai

In [176]:
df.drop(columns="Result",inplace=True)
df.drop(columns="result",inplace=True)

In [26]:
df.drop(columns="dates",inplace=True)

In [177]:
#inserting column in specific position
df.insert(2,"age",[20,21,22,23,24])

In [178]:
df.head(2)

  first_name last_name  age  marks Results        date    address
1        Ram     Kumar   20     12    fail   11/8/2011      Delhi
2      Mohan    Sharma   21     52    pass  04/23/2008  Bangalore

In [179]:
#creating a column based on given condition
df["emotion"]=["happy" if i=="pass" else "sad" for i in df["Results"]]

In [180]:
df["event"]= ['Music', 'Poetry', 'Music', 'Comedy', 'Poetry']

In [160]:
df.head(2)

1    jeetu
2    meera
Name: first_name, dtype: object

In [181]:
#using df.map() fun to get colum
event_dict = {'Music':1500,"Poetry":800,"Comedy":1200}
df["price"]=df["event"].map(event_dict)

In [182]:
df.head(2)

,first_name,last_name,age,marks,Results,date,address,emotion,event,price
1,Ram,Kumar,20,12,fail,11/8/2011,Delhi,sad,Music,1500
2,Mohan,Sharma,21,52,pass,04/23/2008,Bangalore,happy,Poetry,800

In [183]:
df["marks"].mean()

41.6

In [184]:
#selecting rows based on conditions using '>', '=', '=', '<=', '!=' operator
#selecting all rows whose marks is greater than 41
#mre_than_41 = df[df["marks"]>41]
#print("students who has scored more than 41:",mre_than_41)
#mre_than_41 = df.loc[df["marks"]>41].value_counts().sum()
#print(mre_than_41)
#Selecting all the rows from the given dataframe in which marks is not equal to 85
nt_equal_to_85 = df.loc[df["marks"]!=85].value_counts().sum()
print(nt_equal_to_85)

4

In [185]:
#Selecting those rows whose column value is present in the list using isin() method.
#selecting rows of all passed students
passed_students = df.loc[df["Results"].isin(["pass"])].value_counts().sum()
print(passed_students)

3

In [34]:
df.head(2)

,first_name,last_name,age,marks,Results,date,address,emotion,event,price
1,Ram,Kumar,20,12,fail,2011-11-08,Delhi,sad,Music,1500
2,Mohan,Sharma,21,52,pass,2008-04-23,Bangalore,happy,Poetry,800

In [39]:
#selecting rows of all failed students
failed_std = df[~df["Results"].isin(["pass"])].value_counts().sum()
print(failed_std)

2

In [50]:
print("\ndata frame before sorting the data:",df)
df.sort_values("first_name",inplace=True)
print("\ndata frame after sorting the data:",df)

data frame before sorting the data:   first_name last_name  age  marks Results       date    address emotion  \
1        Ram     Kumar   20     12    fail 2011-11-08      Delhi     sad
2      Mohan    Sharma   21     52    pass 2008-04-23  Bangalore   happy
3       Tina       Ali   22     36    pass 2019-10-02    Chennai   happy
4      Jeetu    Gandhi   23     85    pass 2022-11-21      Patna   happy
5      Meera    Kumari   24     23    fail 2020-04-08      bihar     sad

    event  price
1   Music   1500
2  Poetry    800
3   Music   1500
4  Comedy   1200
5  Poetry    800

data frame after sorting the data:   first_name last_name  age  marks Results       date    address emotion  \
4      Jeetu    Gandhi   23     85    pass 2022-11-21      Patna   happy
5      Meera    Kumari   24     23    fail 2020-04-08      bihar     sad
2      Mohan    Sharma   21     52    pass 2008-04-23  Bangalore   happy
1        Ram     Kumar   20     12    fail 2011-11-08      Delhi     sad
3       Tina       Ali   22     36    pass 2019-10-02    Chennai   happy

    event  price
4  Comedy   1200
5  Poetry    800
2  Poetry    800
1   Music   1500
3   Music   1500

In [186]:
#selecting rows of all passed students  and whose age is greater than 20
rslt_df = df[(df["age"]>20) & df["Results"].isin(["pass"])].value_counts().sum()
print(rslt_df)

3

In [51]:
df.head(2)

,first_name,last_name,age,marks,Results,date,address,emotion,event,price
4,Jeetu,Gandhi,23,85,pass,2022-11-21,Patna,happy,Comedy,1200
5,Meera,Kumari,24,23,fail,2020-04-08,bihar,sad,Poetry,800

In [187]:
 #where() method is used to check a data frame for one or more condition and return the result.
 #finding whose age is greater than 20 and passed students
filter = df["age"]>23
filter_dta = df.where(filter)
print(filter_dta)

  first_name last_name   age  marks Results        date address emotion  \
1        NaN       NaN   NaN    NaN     NaN         NaN     NaN     NaN
2        NaN       NaN   NaN    NaN     NaN         NaN     NaN     NaN
3        NaN       NaN   NaN    NaN     NaN         NaN     NaN     NaN
4        NaN       NaN   NaN    NaN     NaN         NaN     NaN     NaN
5      Meera    Kumari  24.0   23.0    fail  04/08/2020   bihar     sad

    event  price
1     NaN    NaN
2     NaN    NaN
3     NaN    NaN
4     NaN    NaN
5  Poetry  800.0

In [87]:
#Multi-condition Operations
#filter the data whose age is greater than 20 & passed students
filter1 = df["age"]>20
filter2 = df["Results"]=="pass"
gtr_than_20_and_passed_stud = df.where(filter1 & filter2,axis=0)
print(gtr_than_20_and_passed_stud)

  first_name last_name   age  marks Results       date    address emotion  \
1      Jeetu    Gandhi  23.0   85.0    pass 2022-11-21      Patna   happy
2        NaN       NaN   NaN    NaN     NaN        NaT        NaN     NaN
3      Mohan    Sharma  21.0   52.0    pass 2008-04-23  Bangalore   happy
4        NaN       NaN   NaN    NaN     NaN        NaT        NaN     NaN
5       Tina       Ali  22.0   36.0    pass 2019-10-02    Chennai   happy

    event   price
1  Comedy  1200.0
2     NaN     NaN
3  Poetry   800.0
4     NaN     NaN
5   Music  1500.0

In [188]:
#sorting index
srt_idx = df.sort_index(axis=0)
print(srt_idx)

  first_name last_name  age  marks Results        date    address emotion  \
1        Ram     Kumar   20     12    fail   11/8/2011      Delhi     sad
2      Mohan    Sharma   21     52    pass  04/23/2008  Bangalore   happy
3       Tina       Ali   22     36    pass   10/2/2019    Chennai   happy
4      Jeetu    Gandhi   23     85    pass  11/21/2022      Patna   happy
5      Meera    Kumari   24     23    fail  04/08/2020      bihar     sad

    event  price
1   Music   1500
2  Poetry    800
3   Music   1500
4  Comedy   1200
5  Poetry    800

In [189]:
import numpy as np

In [82]:
df.index = np.arange(1,len(df)+1)

before arranging index:   first_name last_name  age  marks Results       date    address emotion  \
1      Jeetu    Gandhi   23     85    pass 2022-11-21      Patna   happy
2      Meera    Kumari   24     23    fail 2020-04-08      bihar     sad
3      Mohan    Sharma   21     52    pass 2008-04-23  Bangalore   happy
4        Ram     Kumar   20     12    fail 2011-11-08      Delhi     sad
5       Tina       Ali   22     36    pass 2019-10-02    Chennai   happy

    event  price
1  Comedy   1200
2  Poetry    800
3  Poetry    800
4   Music   1500
5   Music   1500

after arranging index:   first_name last_name  age  marks Results       date    address emotion  \
1      Jeetu    Gandhi   23     85    pass 2022-11-21      Patna   happy
2      Meera    Kumari   24     23    fail 2020-04-08      bihar     sad
3      Mohan    Sharma   21     52    pass 2008-04-23  Bangalore   happy
4        Ram     Kumar   20     12    fail 2011-11-08      Delhi     sad
5       Tina       Ali   22     36    pass 2019-10-02    Chennai   happy

    event  price
1  Comedy   1200
2  Poetry    800
3  Poetry    800
4   Music   1500
5   Music   1500

In [89]:
df.head(2)

,first_name,last_name,age,marks,Results,date,address,emotion,event,price
1,Jeetu,Gandhi,23,85,pass,2022-11-21,Patna,happy,Comedy,1200
2,Meera,Kumari,24,23,fail,2020-04-08,bihar,sad,Poetry,800

In [191]:
#str.find() method is used to search a substring in each string present in a series
#colleting single character "m"
# creating and passing series to new column
df["Mcharacter"]=df["first_name"].str.find("M")
df["Mcharacter"]

1   -1
2    0
3   -1
4   -1
5    0
Name: Mcharacter, dtype: int64

In [190]:
#Searching more than one character
df["indexes"]= df["first_name"].str.find("am",1)
print(df)

  first_name last_name  age  marks Results        date    address emotion  \
1        Ram     Kumar   20     12    fail   11/8/2011      Delhi     sad
2      Mohan    Sharma   21     52    pass  04/23/2008  Bangalore   happy
3       Tina       Ali   22     36    pass   10/2/2019    Chennai   happy
4      Jeetu    Gandhi   23     85    pass  11/21/2022      Patna   happy
5      Meera    Kumari   24     23    fail  04/08/2020      bihar     sad

    event  price  indexes
1   Music   1500        1
2  Poetry    800       -1
3   Music   1500       -1
4  Comedy   1200       -1
5  Poetry    800       -1

In [192]:
#get all rows containing given substring
#checking happy rows in emotion column
df1 = df["emotion"].str.contains("happy").sum()
print(df1)

3

In [193]:
df1 = df[df["emotion"].str.contains("happy")]
print(df1)

  first_name last_name  age  marks Results        date    address emotion  \
2      Mohan    Sharma   21     52    pass  04/23/2008  Bangalore   happy
3       Tina       Ali   22     36    pass   10/2/2019    Chennai   happy
4      Jeetu    Gandhi   23     85    pass  11/21/2022      Patna   happy

    event  price  indexes  Mcharacter
2  Poetry    800       -1           0
3   Music   1500       -1          -1
4  Comedy   1200       -1          -1

In [194]:
df.drop(columns="Mcharacter",inplace=True)
df.drop(columns="indexes",inplace=True)

In [195]:
#replace \n with empty
string = "\nmynameisawaz"
print(string.replace("\n","",2))

mynameisawaz

In [196]:
#to get all column names from dataset
for i in df.columns:
  print(i)

first_name
last_name
age
marks
Results
date
address
emotion
event
price

In [197]:
all_upper_col = [i.upper() for i in df]
print(all_upper_col)

['FIRST_NAME', 'LAST_NAME', 'AGE', 'MARKS', 'RESULTS', 'DATE', 'ADDRESS', 'EMOTION', 'EVENT', 'PRICE']

In [198]:
#changing specific column name with lowercase
df["first_name"].apply(lambda x:x.lower())

1      ram
2    mohan
3     tina
4    jeetu
5    meera
Name: first_name, dtype: object

In [200]:
df.head()

,first_name,last_name,age,marks,Results,date,address,emotion,event,price
1,Ram,Kumar,20,12,fail,11/8/2011,Delhi,sad,Music,1500
2,Mohan,Sharma,21,52,pass,04/23/2008,Bangalore,happy,Poetry,800
3,Tina,Ali,22,36,pass,10/2/2019,Chennai,happy,Music,1500
4,Jeetu,Gandhi,23,85,pass,11/21/2022,Patna,happy,Comedy,1200
5,Meera,Kumari,24,23,fail,04/08/2020,bihar,sad,Poetry,800

In [ ]:
#Capitalize first letter of a column

In [207]:
df["first_name"] =df["first_name"].str.capitalize()
df["emotion"] =df["emotion"].str.capitalize()

In [209]:
df.head(2)

,first_name,last_name,age,marks,Results,date,address,emotion,event,price
1,Ram,Kumar,20,12,fail,11/8/2011,Delhi,Sad,Music,1500
2,Mohan,Sharma,21,52,pass,04/23/2008,Bangalore,Happy,Poetry,800