In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("/content/catalog.csv")

In [7]:
df.head(2)

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,3/2/07,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...

In [13]:
df.dtypes[0:10]

id                  int64
date               object
time               object
continent_code     object
country_name       object
country_code       object
state/province     object
population          int64
city/town          object
distance          float64
dtype: object

In [15]:
df.shape

(1693, 23)

In [91]:
columns_with_na_dropped = df.dropna(how="any",axis=1)
columns_with_na_dropped.shape

(1693, 5)

In [44]:
row_with_na_dropped = df.dropna(how="all")
row_with_na_dropped.shape

(1693, 23)

In [59]:
#comparing columns values after removing column na values in original dataset 
print("colummns in original dataset:%d\n"%df.shape[1])
print("columns with na dropped:%d\n"%columns_with_na_dropped.shape[1])

colummns in original dataset:23

columns with na dropped:23

In [45]:
#comparing row values after removing row na values in original data set
print("row in original dataset:%d\n"%df.shape[0])
print("row with na dropped:%d\n"%row_with_na_dropped.shape[0])

row in original dataset:1693

row with na dropped:1693

In [50]:
df.head(2)

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,3/2/07,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...

In [51]:
df["date"].dtypes

dtype('O')

In [67]:
df["date"]=pd.to_datetime(df["date"],infer_datetime_format = True)

In [56]:
df.dtypes[0:5]

id                         int64
date              datetime64[ns]
time                      object
continent_code            object
country_name              object
dtype: object

In [ ]:
missing_values_count=df.isnull().sum()

In [86]:
# how many total missing values do we have?
total_cell = np.product(df.shape)
total_missing_values= missing_values_count.sum()

# percent of data that is missing
(total_missing_values/total_cell)*100

18.85459736168537

In [87]:
df.head(5)

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link,day
0,34,2007-03-02,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html,2.0
1,42,2007-03-22,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...,22.0
2,56,2007-04-06,NaN,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...,6.0
3,59,2007-04-14,NaN,NaN,Canada,CA,Quebec,42786,Châteauguay,2.98682,...,Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...,14.0
4,61,2007-04-15,NaN,NaN,United States,US,Kentucky,6903,Pikeville,5.66542,...,Landslide,Landslide,Small,Downpour,NaN,NaN,0.0,Matthew Crawford (KGS),NaN,15.0

In [97]:
x = df.fillna(method="ffill")

In [104]:
x.sort_values(by="id",ascending=True)

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link,day
0,34,2007-03-02,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html,2.0
1,42,2007-03-22,Night,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...,22.0
2,56,2007-04-06,Night,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...,6.0
3,59,2007-04-14,Night,NaN,Canada,CA,Quebec,42786,Châteauguay,2.98682,...,Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...,14.0
4,61,2007-04-15,Night,NaN,United States,US,Kentucky,6903,Pikeville,5.66542,...,Landslide,Landslide,Small,Downpour,NaN,NaN,0.0,Matthew Crawford (KGS),http://www.hebdos.net/lsc/edition162007/articl...,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1688,7535,2015-12-07,12:15,SA,United States,US,North Carolina,1646,Tryon,7.80866,...,Landslide,Rockfall,Small,Unknown,cold front No. 7,0.0,0.0,Tryon Daily Bulletin,http://www.tryondailybulletin.com/2016/02/26/u...,7.0
1689,7537,2016-02-22,0:00,SA,United States,US,West Virginia,51400,Charleston,6.84721,...,Landslide,Mudslide,Small,Unknown,cold front No. 7,0.0,0.0,Charleston Gazette,http://www.wvgazettemail.com/news/20160222/us-...,22.0
1690,7539,2016-02-23,0:00,SA,United States,US,West Virginia,2406,Welch,14.19735,...,Landslide,Landslide,Small,Rain,cold front No. 7,0.0,0.0,Bluefield Daily Telegraph,http://www.bdtonline.com/news/officials-cautio...,23.0
1691,7540,2016-02-26,21:06,SA,United States,US,West Virginia,1048,Athens,12.00678,...,Landslide,Rockfall,Small,Unknown,cold front No. 7,0.0,0.0,Bluefield Daily Telegraph,http://www.bdtonline.com/news/rockslide-snarls...,26.0
1692,7541,2016-03-02,8:00,SA,United States,US,Vermont,2066,Windsor,1.78429,...,Landslide,Rockfall,Small,Unknown,cold front No. 7,0.0,0.0,Valley News,http://www.vnews.com/home/21353539-95/loose-ledge,2.0

In [109]:
x["day"]=x["day"].astype(int)

In [ ]:
x.index = np.arange(0,len(x))

In [ ]:
x.head(5)

In [ ]:
x.isnull().sum()

In [119]:
x.shape

(1693, 24)

In [121]:
x = x.dropna()

In [123]:
x.shape

(1525, 24)

In [126]:
x.dtypes

id                               int64
date                    datetime64[ns]
time                            object
continent_code                  object
country_name                    object
country_code                    object
state/province                  object
population                       int64
city/town                       object
distance                       float64
location_description            object
latitude                       float64
longitude                      float64
geolocation                     object
hazard_type                     object
landslide_type                  object
landslide_size                  object
trigger                         object
storm_name                      object
injuries                       float64
fatalities                     float64
source_name                     object
source_link                     object
day                              int64
dtype: object

In [127]:
df = df.dropna(axis=1)

In [129]:
df.shape

(1693, 5)

In [132]:
df.dtypes

id               int64
country_name    object
country_code    object
population       int64
hazard_type     object
dtype: object

In [139]:
df.columns= df.columns.str.capitalize()

In [142]:
df.head()

   Id   Country_name Country_code  Population Hazard_type
0  34  United States           US       16000   Landslide
1  42  United States           US       17288   Landslide
2  56  United States           US       15930   Landslide
3  59         Canada           CA       42786   Landslide
4  61  United States           US        6903   Landslide

(1525, 24)