In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("/content/earthquake.csv")
df1 = pd.read_csv("/content/landslide.csv")

In [6]:
df2 = pd.DataFrame.from_dict({"name":["awaz","asmin","aman","adhil",np.NaN],
                              "age": [22,23,24,25,np.NaN],
                              "location":["london","new york","banglore",np.NaN,np.NaN]})
print(df2)

    name   age  location
0   awaz  22.0    london
1  asmin  23.0  new york
2   aman  24.0  banglore
3  adhil  25.0       NaN
4    NaN   NaN       NaN

In [7]:
df2.head(2)

    name   age  location
0   awaz  22.0    london
1  asmin  23.0  new york

In [8]:
#capitalize the first name of the column
df_capitalize=df2.columns.str.capitalize()
print(df_capitalize)

Index(['Name', 'Age', 'Location'], dtype='object')

In [7]:
#capitalize the first name of all rows of name column
row_capitalize = df2["name"].str.capitalize()
print(row_capitalize)

0     Awaz
1    Asmin
2     Aman
3    Adhil
4      NaN
Name: name, dtype: object

In [9]:
df2.head()

    name   age  location
0   awaz  22.0    london
1  asmin  23.0  new york
2   aman  24.0  banglore
3  adhil  25.0       NaN
4    NaN   NaN       NaN

In [12]:
df2.isnull().sum()

name        0
age         1
location    2
dtype: int64

In [10]:
remove_whitespace = df2["location"].str.replace(" ","")
remove_whitespace.str.capitalize() #use upper() for uppercase and lower() for lowercase

0      London
1     Newyork
2    Banglore
3         NaN
4         NaN
Name: location, dtype: object

In [ ]:
df2.describe()

In [12]:
#Dropping Missing Data in a Pandas DataFrame
# Exploring the Pandas .dropna() method
df.dropna(
    axis=0,         # Whether to drop rows or columns
    how='any',      # Whether to drop records if 'all' or 'any' records are missing
    thresh=None,    # How many columns/rows must be missing to drop
    subset=None,    # Which rows/columns to consider
    inplace=False   # Whether to drop in place (i.e., without needing to re-assign)
)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
565,12/20/1966,15:30:01,37.302167,-116.408333,Nuclear Explosion,1.20,31.61,16.0,5.62,ML,...,10.0,261.00,1.476000,99.000,0.8600,CI3329931,CI,CI,CI,Reviewed
897,04/26/1968,15:00:02,37.295333,-116.455667,Nuclear Explosion,1.20,31.61,17.0,5.63,ML,...,6.0,261.00,1.438000,99.000,1.0300,CI3342128,CI,CI,CI,Reviewed
1129,12/19/1968,16:30:01,37.231500,-116.473667,Nuclear Explosion,1.40,31.61,16.0,5.52,ML,...,6.0,257.00,1.415000,99.000,1.3600,CI3342181,CI,CI,CI,Reviewed
1380,09/16/1969,14:30:01,37.314167,-116.460667,Nuclear Explosion,1.20,31.61,13.0,5.82,ML,...,8.0,268.00,1.437000,99.000,0.3300,CI3326197,CI,CI,CI,Reviewed
1532,03/26/1970,19:00:01,37.300500,-116.534167,Nuclear Explosion,1.20,31.61,16.0,5.54,ML,...,10.0,260.00,1.377000,99.000,0.3500,CI3325031,CI,CI,CI,Reviewed
2723,06/06/1973,13:00:01,37.245000,-116.346000,Nuclear Explosion,1.10,31.61,17.0,5.64,ML,...,8.0,259.00,1.517000,99.000,0.5500,CI3319623,CI,CI,CI,Reviewed
3307,11/22/1974,16:25:34,30.250000,-114.800000,Earthquake,6.00,31.61,20.0,5.55,ML,...,4.0,312.00,2.641000,99.000,3.2200,CI3319062,CI,CI,CI,Reviewed
3516,06/26/1975,12:30:01,37.278833,-116.368667,Nuclear Explosion,6.00,31.61,19.0,5.52,ML,...,13.0,260.00,1.504000,99.000,3.4400,CI12328563,CI,CI,CI,Reviewed
3673,10/28/1975,14:30:00,37.290167,-116.411500,Nuclear Explosion,1.30,31.61,19.0,5.67,ML,...,8.0,260.00,1.472000,99.000,2.7500,CI3006257,CI,CI,CI,Reviewed
3754,01/03/1976,19:15:01,37.296500,-116.333167,Nuclear Explosion,1.50,31.61,20.0,5.84,ML,...,8.0,261.00,1.534000,99.000,0.4400,CI3001652,CI,CI,CI,Reviewed
5523,05/18/1980,15:32:11,46.207333,-122.188000,Earthquake,1.51,0.56,18.0,5.70,MD,...,1.0,62.00,0.008296,0.682,0.2200,UW10084803,UW,UW,UW,Reviewed
5631,09/07/1980,04:36:38,38.138333,-118.391333,Earthquake,6.00,31.61,5.0,5.52,ML,...,12.0,333.00,1.090000,8.020,0.3300,CI9735242,CI,CI,CI,Reviewed
18876,02/21/2008,14:16:03,41.144400,-114.872100,Earthquake,7.90,1.90,18.0,6.20,ML,...,4.0,95.21,0.318000,1.610,0.1855,NN00234425,NN,NN,NN,Reviewed
22238,05/28/2014,21:15:07,18.045000,-68.350900,Earthquake,90.00,2.00,31.0,5.80,ML,...,12.0,262.80,0.467124,2.900,0.4100,PR14148004,PR,PR,PR,Reviewed

In [11]:
# Dropping Records Only if All Records are Missing
df2_drop = df2.dropna(how='all')
df2_drop.head()
                  #thresh= the number of items that must be empty
                  #subset= the names of columns to look at when considering missing values

    name   age  location
0   awaz  22.0    london
1  asmin  23.0  new york
2   aman  24.0  banglore
3  adhil  25.0       NaN

In [38]:
df2.head()

    name   age  location
0   awaz  22.0    london
1  asmin  23.0  new york
2   aman  24.0  banglore
3  adhil  25.0       NaN
4    NaN   NaN       NaN

In [18]:
#Filling Missing Data in a Pandas DataFrame
filling_missing_data = df2.fillna(0)
print(filling_missing_data)

    name   age  location
0   awaz  22.0    london
1  asmin  23.0  new york
2   aman  24.0  banglore
3  adhil  25.0         0
4      0   0.0         0

In [17]:
#filling data with front fill
front_fill_data = df2.fillna(method="ffill")
print(front_fill_data)

    name   age  location
0   awaz  22.0    london
1  asmin  23.0  new york
2   aman  24.0  banglore
3  adhil  25.0  banglore
4  adhil  25.0  banglore

In [16]:
# Filling Columns with Different Values
df_filling = df2.fillna({'Name': 'Someone', 'Age': 25, 'Location': 'USA'})
print(df_filling)

    name   age  location
0   awaz  22.0    london
1  asmin  23.0  new york
2   aman  24.0  banglore
3  adhil  25.0       NaN
4    NaN   NaN       NaN

In [19]:
# Imputing a Missing Value with mean
df2["age"]=df2["age"].fillna(df2["age"].mean())

In [23]:
df2.head()

    name   age  location
0   awaz  22.0    london
1  asmin  23.0  new york
2   aman  24.0  banglore
3  adhil  25.0       NaN
4    NaN  23.5       NaN

In [29]:
#Working with Duplicate Data in Pandas
dp = pd.DataFrame.from_dict({
    'Name': ['Nik', 'Kate', 'Evan', 'Kyra', 'Nik', 'Kate'],
    'Age': [33, 32, 40, 57, 33, 32],
    'Location': ['Toronto', 'London', 'New York', 'Atlanta', 'Toronto', 'Paris'],
    'Date Modified': ['2022-01-01', '2022-02-24', '2022-08-12', '2022-09-12', '2022-01-01', '2022-12-09'],'Name':['Nik', 'Kate', 'Evan', 'Kyra', 'Nik', 'Kate'],
    'Age': [33, 32, 40, 57, 33, 32],
    'Location': ['Toronto', 'London', 'New York', 'Atlanta', 'Toronto', 'Paris'],
    'Date Modified': ['2022-01-01', '2022-02-24', '2022-08-12', '2022-09-12', '2022-01-01', '2022-12-09']
})

In [30]:
dp.head()

   Name  Age  Location Date Modified
0   Nik   33   Toronto    2022-01-01
1  Kate   32    London    2022-02-24
2  Evan   40  New York    2022-08-12
3  Kyra   57   Atlanta    2022-09-12
4   Nik   33   Toronto    2022-01-01

In [32]:
#to see no of duplicate values in a dataset
dp.duplicated().sum()

1

In [ ]:
# The Pandas .drop_duplicates() method
df.drop_duplicates(
    subset=None,            # Which columns to consider 
    keep='first',           # Which duplicate record to keep
    inplace=False,          # Whether to drop in place
    ignore_index=False      # Whether to relabel the index
)

In [33]:
# Dropping Duplicates with Default Arguments
dp = dp.drop_duplicates()

In [34]:
dp.head()

   Name  Age  Location Date Modified
0   Nik   33   Toronto    2022-01-01
1  Kate   32    London    2022-02-24
2  Evan   40  New York    2022-08-12
3  Kyra   57   Atlanta    2022-09-12
5  Kate   32     Paris    2022-12-09

In [ ]:
# Splitting a Column into Two Columns
df[['Last Name', 'First Name']] = df['Name'].str.split(',', expand=True)

In [35]:
dp["Location"]

   Name  Age  Location Date Modified
0   Nik   33   Toronto    2022-01-01
1  Kate   32    London    2022-02-24
2  Evan   40  New York    2022-08-12
3  Kyra   57   Atlanta    2022-09-12
5  Kate   32     Paris    2022-12-09

In [ ]:
s