In [ ]:
import pandas as pd
import numpy as np

In [234]:
df = pd.read_csv("/content/player_mvp_stats.csv",encoding="latin-1", delimiter=";")
orgdata = df.copy()
orgdata.shape

(14092, 41)

In [ ]:
df.head()

In [ ]:
print(df.shape)
print(df.ndim)
print(df.dtypes)
print(df.size)

In [237]:
df1 = df[["Player","Age","Share","MP","W","L","Pts Max","FG%","eFG%"]]
df1.head()

           Player  Age  Share    MP   W   L  Pts Max    FG%   eFG%
0      A.C. Green   27    0.0  26.4  58  24        0  0.476  0.486
1     Byron Scott   29    0.0  32.1  58  24        0  0.477  0.510
2  Elden Campbell   22    0.0   7.3  58  24        0  0.455  0.455
3   Irving Thomas   25    0.0   4.2  58  24        0  0.340  0.340
4    James Worthy   29    0.0  38.6  58  24        0  0.492  0.501

In [ ]:
df1.dtypes

Player      object
Age          int64
Share      float64
MP         float64
W            int64
L            int64
Pts Max      int64
FG%        float64
eFG%       float64
dtype: object

In [ ]:
df1.columns = [i.lower() for i in df1]

In [ ]:
df1.head()

           player  age  share    mp   w   l  pts max    fg%   efg%
0      A.C. Green   27    0.0  26.4  58  24        0  0.476  0.486
1     Byron Scott   29    0.0  32.1  58  24        0  0.477  0.510
2  Elden Campbell   22    0.0   7.3  58  24        0  0.455  0.455
3   Irving Thomas   25    0.0   4.2  58  24        0  0.340  0.340
4    James Worthy   29    0.0  38.6  58  24        0  0.492  0.501

In [ ]:
df2 =df1.fillna(0)

In [ ]:
df2.isnull().sum()

In [ ]:
df2.head()

           player  age  share    mp   w   l  pts max    fg%   efg%
0      A.C. Green   27    0.0  26.4  58  24        0  0.476  0.486
1     Byron Scott   29    0.0  32.1  58  24        0  0.477  0.510
2  Elden Campbell   22    0.0   7.3  58  24        0  0.455  0.455
3   Irving Thomas   25    0.0   4.2  58  24        0  0.340  0.340
4    James Worthy   29    0.0  38.6  58  24        0  0.492  0.501

In [ ]:
df2.columns = df2.columns.str.replace(' ', '')

In [ ]:
df2.head()

           player  age  share    mp   w   l  ptsmax    fg%   efg%
0      A.C. Green   27    0.0  26.4  58  24       0  0.476  0.486
1     Byron Scott   29    0.0  32.1  58  24       0  0.477  0.510
2  Elden Campbell   22    0.0   7.3  58  24       0  0.455  0.455
3   Irving Thomas   25    0.0   4.2  58  24       0  0.340  0.340
4    James Worthy   29    0.0  38.6  58  24       0  0.492  0.501

In [ ]:
df2.columns = df2.columns.str.replace("%","")
df2.head()

           player  age  share    mp   w   l  ptsmax     fg    efg
0      A.C. Green   27    0.0  26.4  58  24       0  0.476  0.486
1     Byron Scott   29    0.0  32.1  58  24       0  0.477  0.510
2  Elden Campbell   22    0.0   7.3  58  24       0  0.455  0.455
3   Irving Thomas   25    0.0   4.2  58  24       0  0.340  0.340
4    James Worthy   29    0.0  38.6  58  24       0  0.492  0.501

In [ ]:
df2["l"].mean()

40.08189043428896

In [ ]:
df2.rename(columns = {"ptsmax":"pts"}, inplace = True)

In [ ]:
df2[df2["l"]>61].sort_values("pts",ascending=False)

In [108]:
df2["pts"].unique()

array([   0,  960, 1010, 1050, 1130, 1160, 1210, 1240, 1250, 1260, 1150,
       1180, 1190, 1270, 1290, 1230,  980, 1310, 1300])

In [ ]:
#summming up the missing values in column wise
df.isnull().sum(axis=0).sort_values(ascending=False)

In [239]:
#summming up the missing values in row wise
df.isnull().sum(axis=1).sort_values(ascending=False).head(10)

10216    5
2877     5
3172     5
4428     5
2240     5
3455     5
4907     5
13856    5
7932     5
4163     5
dtype: int64

In [137]:
#columns having at least one null values
df.isnull().sum()>0
d = df.isnull().any()

In [240]:
d.index

RangeIndex(start=0, stop=14092, step=1)

In [241]:
#columns which has null values
#by default any operators in columns
d.index[d.values]

Int64Index([    2,     3,    18,    20,    30,    35,    48,    52,    56,
               57,
            ...
            14037, 14049, 14054, 14056, 14061, 14062, 14064, 14070, 14071,
            14088],
           dtype='int64', length=2275)

In [242]:
d = df.isnull().any(axis=1)

In [243]:
index=d.index[d.values]

In [ ]:
#columns having all missing values
df.isnull().all()

In [245]:
#row having all missing values
df.isnull().all(axis=1).sum()

0

In [246]:
#summing up the missing values in column wise(cal in %) with using round
round(df.isnull().sum().sort_values(ascending=False)/len(df)*100,2)

3P%        14.49
FT%         3.28
2P%         0.60
eFG%        0.35
FG%         0.35
Player      0.00
BLK         0.00
TOV         0.00
PF          0.00
PTS         0.00
Year        0.00
Pts Won     0.00
Pts Max     0.00
AST         0.00
Share       0.00
Team        0.00
W           0.00
L           0.00
W/L%        0.00
GB          0.00
PS/G        0.00
PA/G        0.00
STL         0.00
ORB         0.00
TRB         0.00
FGA         0.00
Age         0.00
Tm          0.00
G           0.00
GS          0.00
MP          0.00
FG          0.00
3P          0.00
DRB         0.00
3PA         0.00
2P          0.00
2PA         0.00
FT          0.00
FTA         0.00
Pos         0.00
SRS         0.00
dtype: float64

In [247]:
#removing the two maximum null values percentge in dataset
col = df.isnull().sum().sort_values(ascending=False).head(2).index.values

In [248]:
#removing the maximum columns using drop
df=df.drop(columns=col)

In [ ]:
df.isnull().sum()

In [ ]:
round(df.isnull().sum().sort_values(ascending=False)/len(df)*100,2)

In [250]:
#check the rows where you heve more than 2 missing values
len(df[df.isnull().sum(axis=1)>2])/len(df)*100

0.35481124042009654

In [198]:
#retaining the rows having <=5 NaNs
df = df[df.isnull().sum(axis=1)<=5]

In [251]:
round(df.isnull().sum().sort_values(ascending=False)/len(df)*100,2).head(3)

2P%     0.60
eFG%    0.35
FG%     0.35
dtype: float64

In [252]:
df.shape

(14092, 39)

In [ ]:
#not null in this data
df[df["2P%"].notnull()]

In [ ]:
#another method to see not null values using numpy
df[~np.isnan(df["2P%"])]

In [254]:
df = df[df["2P%"].notnull()]

In [255]:
round(df.isnull().sum().sort_values(ascending=False)/len(df)*100,2)

Player     0.0
Pts Max    0.0
STL        0.0
BLK        0.0
TOV        0.0
PF         0.0
PTS        0.0
Year       0.0
Pts Won    0.0
Share      0.0
TRB        0.0
Team       0.0
W          0.0
L          0.0
W/L%       0.0
GB         0.0
PS/G       0.0
PA/G       0.0
AST        0.0
DRB        0.0
Pos        0.0
FG%        0.0
Age        0.0
Tm         0.0
G          0.0
GS         0.0
MP         0.0
FG         0.0
FGA        0.0
3P         0.0
ORB        0.0
3PA        0.0
2P         0.0
2PA        0.0
2P%        0.0
eFG%       0.0
FT         0.0
FTA        0.0
SRS        0.0
dtype: float64

In [ ]:
#imputing missing value  by Mean
df.loc[:,["column name1","column name2"]].describe()

In [ ]:
df["column name1"].mean()

In [ ]:
#imputing missing values by mean in column1
df.loc[:,"column name1"].fillna(df["column name1"].mean(),inplace=True)

In [ ]:
#imputing missing values by mean in column2
df.loc[:,"column name2"].fillna(df["column name2"].mean(),inplace=True)

In [ ]:
#counting in columns that which number has the most number of same values
df.groupby("Age").Age.count().sort_values(ascending=False)
#or
df["Age"].astype("category").value_counts()

In [259]:
#filling the missing values with most no of same values
df.loc[:,"Age"].fillna(24,inplace=True)

In [260]:
df.shape

(14008, 39)

In [215]:
#saving good data for machine learning algorithm
cleandata= df.to_csv("cleanndata.csv")

In [261]:
len(df)/len(orgdata)*100

99.40391711609425